:root {
    --main-color:#212D3E;
    --secondary-color: #16171A;
    --main-text-color:white;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #212D3E;
}
html {
    overflow: hidden;
    height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 200;
    color: 	#3e5869; 
}

body {
    height: 100%;
    overflow: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 200;
    color: 	#3e5869; 
}

#root {
    height: 100%;
}

.app {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr); /* 1fr each column of equal size */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: 
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "r m m m m m"
        "n f f f f f";
}


.new-room-form {
    grid-area: n;
} 

.rooms-list {
    grid-area: r;
    
}

.message-list {
    grid-area: m;
}

.send-message-form {
    grid-area: f;
}

/* REST OF CSS */
.rooms-list {
    box-sizing: border-box;
    padding: 10px;
    background-color: var(--main-color);
    overflow: auto;
    height: 100%;
    font-weight: 600;
    
}

.rooms-list > ul {
    list-style-type: none;    
    padding: 10px;
    overflow: hidden;
    font-weight: 500;
}

.rooms-list li {
    margin: 10px 0;
    word-spacing: 5px;
}

.rooms-list > h3 {
    margin: 5px 0;
    color: var(--secondary-color);
}

.rooms-list .room a {
    color:white;
    font-weight: 600;
    text-decoration: none;
    word-spacing: 15px;
 }

.rooms-list .room.active a {
    color: #427CA6;

}

.new-room-form {
    padding: 0 5px;
    background: var(--secondary-color);
    color: var(--main-text-color);
}

.new-room-form form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-room-form input {
    width: 135px;
    background: var(--secondary-color);
    cursor: pointer;
}

.new-room-form button {
    background: var(--secondary-color);
    color: var(--main-text-color);
    border: 0;
} 

.new-room-form input::placeholder {
    color: var(--main-text-color);
    font-weight: 200;

}

.new-room-form input:focus {
    outline-width: 0;
}

.new-room-form input {
    border: 0;
    color:white;
    font-size:20px;
    font-weight: 200;
}

.new-room-form button {
    border: 0;
}

.message {
    margin: 15px 0;
    margin-left: 12px;
}

.message .message-username {
    font-size: 16px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 13px;
    text-transform: capitalize;
}
.message .message-text {
    background: var(--main-color);
    color: var(--main-text-color);
    display: inline;
    padding: 5px 9px;
    border-radius: 9px;
    font-weight: 400;
}

.message-list {
    box-sizing: border-box;
    padding-left: 6px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--secondary-color);
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.join-room-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.send-message-form {
    background: var(--send-message-form);
    display: flex;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background:#212D3E;
    font-weight: 200;
    font-size:20px;
    color:white;
    cursor: pointer;
}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: white;
}

.help-text {
    position: absolute;
    top: 10px;
}

.button-message {
    cursor: pointer;
    border: none;
    background-color: #5A9ED2;
    border-radius:10px;
    padding:5px;
}

.button-message:disabled {
    cursor:not-allowed;
}

.button-message:hover {
    background-color: rgb(66, 124, 168);
}
#create-room-btn{
    color:white;
    font-size:42px;
    border:none;
    outline: none;
    cursor: pointer;
}
#send {
    height:35px;
    margin-left:1px;
    outline: none;
}